*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background: #dedede;
    height: 100vh;
    padding: 0;
    margin: 0;
}
.body-flex{
display: flex;
flex-direction: column;
justify-content: space-between;

}
header, main, footer{
    border: 1px solid black;
}

header{
    background: rgb(88, 88, 243);
    color: white;
}
.container{
    width: 900px;
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 900px;
    margin: 1rem auto;
}
.nav-items{
    display: flex;
}
.nav-items> a >li{

    margin-left: 1rem;
}


li{
    list-style: none;
}

a{
    text-decoration: none;
    color: white !important;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
footer{

    background: chartreuse;
}
.social-media-icons{
    display: flex;
}