h1 {
  background-color: #ded;
}

body {
  margin: 4rem;
  padding: 4rem;
  background: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main {
  border: 1px solid red;
  margin: 2rem;
  padding: 2rem;
  background-color: lightcoral;
}

form {
  text-align: left;
}
